<div class="container">
  <section *ngIf="step1" class="w-75 mx-auto rounded bg-main-light mb-3 p-3 shadow">
    <form [formGroup]="forgetform" (ngSubmit)="forgetpassword()">
      <label for="email">email :</label>
      <input formControlName="email" type="email" class="form-control" id="email" />
      <button class="btn bg-main text-white mt-3 d-block ms-auto">
        receive verification code
      </button>
      <p *ngIf="usermsg" class="alert alert-danger mx-auto text-center p-1 mt-2 mb-0">{{usermsg}}</p>
      <div
      *ngIf="
        forgetform.controls['email'].errors &&
        forgetform.controls['email'].touched
      "
      class="alert alert-danger mx-auto d-block form-control my-1"
    >
      <p *ngIf="forgetform.controls['email'].getError('required')">
        E-mail is required
      </p>
      <p *ngIf="forgetform.controls['email'].getError('email')">
        Enter valid E-mail
      </p>
    </div>
    </form>
  </section>
  <section *ngIf="step2" class="w-75 mx-auto rounded bg-main-light mb-3 p-3 shadow">
    <form [formGroup]="resetcodeform" (ngSubmit)="resetcode()">
      <label for="resetCode">Reset Code :</label>
      <input formControlName="resetCode" type="text" class="form-control" id="resetCode" />
      <button class="btn bg-main text-white mt-3 d-block ms-auto">
        Send verification code
      </button>
      <p *ngIf="usermsg" class="alert alert-danger mx-auto text-center p-1 mt-2 mb-0">{{usermsg}}</p>
      <div
      *ngIf="
        resetcodeform.controls['resetCode'].errors &&
        resetcodeform.controls['resetCode'].touched
      "
      class="alert alert-danger mx-auto d-block form-control mb-1"
    >
      <p *ngIf="resetcodeform.controls['resetCode'].getError('required')">
        Reset code is required
      </p>

      <p *ngIf="resetcodeform.controls['resetCode'].getError('minLength')">
        Min length is 3 charcters
      </p>
      <p *ngIf="resetcodeform.controls['resetCode'].getError('maxLength')">
        Max length is 30 charcters
      </p>
    </div>
    </form>
  </section>
  <section *ngIf="step3" class="w-75 mx-auto rounded bg-main-light mb-3 p-3 shadow">
    <form [formGroup]="resetpassword" (ngSubmit)="newpassword()">
      <label for="newPassword">Reset Password :</label>
      <input formControlName="newPassword" type="text" class="form-control" id="newPassword" />
      <button class="btn bg-main text-white mt-3 d-block ms-auto">
        Reset Password
      </button>
      <p *ngIf="usermsg" class="alert alert-danger mx-auto text-center p-1 mt-2 mb-0">{{usermsg}}</p>
      <div
        *ngIf="
          resetpassword.controls['newPassword'].errors &&
          resetpassword.controls['newPassword'].touched
        "
        class="alert alert-danger mx-auto d-block form-control mb-1"
      >
        <p *ngIf="resetpassword.controls['newPassword'].getError('required')">
          Password is required
        </p>
        <p *ngIf="resetpassword.controls['newPassword'].getError('pattern')">
          Minimum eight characters, at least one letter, one number and one
          special character
        </p>
      </div>
    </form>
  </section>
</div>
