<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="../../../assets/images/freshcart-logo.svg" class="w-100"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="isUserLoggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/brands">Brands</a>
        </li>
      </ul>
      <div>
        <input *ngIf="isUserLoggedIn"
          placeholder="search... "
          class="form-control form-control-sm w-100 mx-auto"
          type="text"
          (input)="inputvalue($event)"
          [(ngModel)]="searchTerm"
        />
      </div>
      <div class="d-flex ms-auto">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li *ngIf="!isUserLoggedIn && isUserInloginPage" class="nav-item">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
          <li *ngIf="!isUserLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/registration">Register</a>
          </li>


          <li *ngIf="isUserLoggedIn" class="nav-item">
            <a class="nav-link position-relative" routerLink="/wishlist" >

              <i class="fa-solid fa-star   fa-xl text-main"></i>
              <span class="badge bg-info position-absolute top-0 end-0">{{numOfWishlist}}</span>
            </a>
          </li>

          <li *ngIf="isUserLoggedIn" class="nav-item">
            <a class="nav-link position-relative" routerLink="/cart">
              <i class="fas fa-cart-shopping fa-xl text-main"> </i>
              <span class="badge bg-info position-absolute top-0 end-0">{{
                cartNum
              }}</span>
            </a>
          </li>

          <li *ngIf="isUserLoggedIn" (click)="logOut()" class="nav-item">
            <a class="nav-link" routerLink="/home"
              ><i class="fa-solid fa-right-from-bracket fa-xl"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
